body{
    background-color: #0A0C21;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 25% 70% 5%;
    grid-template-rows: 100%;
}
.left{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    border-right: 1px solid rgba(255, 255, 255, 0.664);
    transition: .6s all ease-out;
}

main{
    grid-column: 2;
    padding: 25px;
    background-color: #010211;
    overflow-y: auto;
    transition: .6s all ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    grid-column: 3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 22px;
    background-color: rgba(128, 128, 128, 0.068);
    border-left: 1px solid rgba(255, 255, 255, 0.664);
    transition: .6s all ease-out;
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition: .6s all ease-out;
}
.photo:hover{
    width: 400px;
    height: 400px;
}
.redes{
    margin-top: 25px;
}
.redes img{
    padding: 4px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.212);
    transition: .6s all ease-out;
}
.redes img:hover{
    background-color: rgba(255, 255, 0, 0.904);
}
.postsCard{
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
    padding-bottom: 12px;
}
.postsCard h2{
    margin-bottom: -25px;
}
.postsCard h6{
    color: rgba(128, 128, 128, 0.705);
}
.postsCard p{
    text-indent: 32px;
    max-width: 800px;
}
::-webkit-scrollbar{
    background-color: transparent;
}
.modal{
    display: none;
    border-radius: 5px;
    position: absolute;
    height: 0%;
    top: 5%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 2%;
    transition: all .4 ease-out;
}
.modal.ativar{
    display: block;
    height: 80%;
}

@media (max-width: 1000px){
    body{
        display: flex;
        flex-direction: column;

    }
    .left{
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.664);
    }
    .right{
        border-radius: 0px;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.664);
    }
}

